In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
heart = pd.read_csv('/Users/jacikapatel/Desktop/Springboard/Heart Disease/heart.csv')

In [3]:
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [6]:
columns_to_convert = [
    "sex", "cp", "fbs", "restecg",
    "exang", "slope", "ca", "thal", "target"
]

# Convert columns to 'object' type
heart[columns_to_convert] = heart[columns_to_convert].apply(lambda x: x.astype("object"))

In [7]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    object
 2   cp        303 non-null    object
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    object
 6   restecg   303 non-null    object
 7   thalach   303 non-null    int64
 8   exang     303 non-null    object
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    object
 11  ca        303 non-null    object
 12  thal      303 non-null    object
 13  target    303 non-null    object
dtypes: float64(1), int64(4), object(9)
memory usage: 33.3+ KB

In [8]:
heart.describe()

              age    trestbps        chol     thalach     oldpeak
count  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337  131.623762  246.264026  149.646865    1.039604
std      9.082101   17.538143   51.830751   22.905161    1.161075
min     29.000000   94.000000  126.000000   71.000000    0.000000
25%     47.500000  120.000000  211.000000  133.500000    0.000000
50%     55.000000  130.000000  240.000000  153.000000    0.800000
75%     61.000000  140.000000  274.500000  166.000000    1.600000
max     77.000000  200.000000  564.000000  202.000000    6.200000

In [9]:
heart.describe(include='object')

        sex   cp  fbs  restecg  exang  slope   ca  thal  target
count   303  303  303      303    303    303  303   303     303
unique    2    4    2        3      2      3    5     4       2
top       1    0    0        1      0      2    0     2       1
freq    207  143  258      152    204    142  175   166     165

In [10]:
sex_grouped = heart.groupby('sex').mean()
age_grouped = heart.groupby('age').mean()

In [11]:
sex_grouped

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.125,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125,0.75
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

In [12]:
age_grouped

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
29,1.0,1.0,130.000000,204.000000,0.0,0.0,202.000000,0.0,0.000000,2.0,0.0,2.0,1.0
34,0.5,2.0,118.000000,196.000000,0.0,0.5,183.000000,0.0,0.350000,2.0,0.0,2.0,1.0
35,0.75,0.25,126.500000,213.750000,0.0,0.75,160.500000,0.5,0.750000,1.75,0.0,2.5,0.5
37,0.5,2.0,125.000000,232.500000,0.0,1.0,178.500000,0.0,1.750000,1.0,0.0,2.0,1.0
38,1.0,2.333333,132.000000,193.666667,0.0,1.0,176.000000,0.333333,1.266667,1.666667,2.666667,2.333333,0.666667
39,0.5,1.5,122.500000,239.750000,0.0,0.75,163.250000,0.0,0.300000,1.5,0.0,2.25,0.75
40,1.0,1.0,134.000000,196.333333,0.0,0.666667,157.666667,0.666667,1.133333,1.666667,0.0,3.0,0.333333
41,0.6,1.2,119.000000,220.700000,0.0,0.6,164.700000,0.1,0.340000,1.8,0.1,2.0,0.9
42,0.75,1.25,127.000000,246.750000,0.125,0.75,160.250000,0.125,0.500000,1.375,0.25,2.0,0.875
43,0.75,0.5,126.375000,256.750000,0.25,0.625,154.875000,0.375,1.300000,1.375,0.625,2.5,0.625
44,0.818182,1.181818,120.727273,221.363636,0.0,0.636364,168.818182,0.181818,0.372727,1.636364,0.272727,2.0,0.727273
45,0.625,0.75,122.375000,247.375000,0.0,0.25,155.875000,0.375,0.625000,1.25,0.375,2.25,0.75
46,0.571429,0.857143,128.000000,230.285714,0.142857,0.571429,150.142857,0.428571,1.085714,1.285714,0.285714,2.428571,0.571429
47,1.0,1.2,119.600000,246.400000,0.0,0.6,149.600000,0.2,0.220000,1.8,0.2,2.0,0.6
48,0.857143,0.857143,124.285714,250.857143,0.285714,0.428571,166.285714,0.142857,0.271429,1.428571,0.571429,2.428571,0.571429
49,0.6,1.2,126.400000,228.600000,0.0,0.8,152.200000,0.0,0.680000,1.6,1.2,2.2,0.6
50,0.571429,1.0,130.428571,227.000000,0.0,0.571429,151.285714,0.142857,0.971429,1.428571,0.142857,2.428571,0.571429
51,0.666667,1.416667,124.500000,258.666667,0.083333,0.5,148.500000,0.583333,1.266667,1.666667,0.5,2.333333,0.75
52,0.923077,1.153846,130.692308,228.230769,0.384615,0.846154,167.230769,0.153846,0.376923,1.692308,0.923077,2.153846,0.692308
53,0.625,0.75,132.625000,233.500000,0.375,0.125,138.000000,0.375,0.837500,1.25,0.625,2.125,0.75
54,0.6875,1.0625,129.125000,253.312500,0.125,0.4375,147.750000,0.3125,0.931250,1.4375,0.625,2.4375,0.625
55,0.5,0.375,142.125000,280.625000,0.0,1.0,139.625000,0.625,1.950000,1.125,0.375,2.5,0.375
56,0.727273,0.818182,134.636364,259.363636,0.363636,0.181818,145.636364,0.545455,1.400000,0.909091,0.636364,2.272727,0.454545
57,0.764706,0.529412,136.058824,238.529412,0.117647,0.647059,143.823529,0.470588,0.717647,1.411765,0.705882,2.352941,0.411765
58,0.684211,0.842105,127.947368,254.526316,0.210526,0.368421,146.842105,0.263158,1.389474,1.368421,1.210526,2.421053,0.368421
59,0.928571,1.214286,149.214286,239.857143,0.214286,0.5,147.571429,0.357143,1.078571,1.285714,0.5,2.285714,0.357143
60,0.636364,0.818182,131.727273,245.545455,0.181818,0.454545,148.000000,0.454545,1.681818,1.454545,1.181818,2.636364,0.272727
61,0.75,0.625,138.125000,243.750000,0.125,0.5,145.125000,0.625,1.712500,1.375,0.75,2.5,0.125
62,0.363636,0.545455,134.545455,256.636364,0.181818,0.545455,133.636364,0.181818,1.863636,1.0,1.363636,2.454545,0.363636
63,0.444444,0.666667,133.555556,258.222222,0.222222,0.333333,153.666667,0.444444,1.700000,1.333333,1.444444,2.333333,0.333333
64,0.7,1.2,138.800000,274.400000,0.0,0.6,133.000000,0.5,1.080000,1.2,0.6,2.3,0.6
65,0.5,1.125,138.500000,279.000000,0.25,0.25,146.125000,0.0,1.075000,1.625,1.0,2.25,0.5
66,0.571429,0.857143,146.571429,245.714286,0.142857,0.428571,138.857143,0.428571,0.914286,1.142857,1.0,1.857143,0.571429
67,0.666667,0.666667,127.777778,286.777778,0.111111,0.444444,135.555556,0.333333,0.988889,1.222222,1.333333,2.444444,0.333333
68,0.75,1.5,140.500000,238.750000,0.5,0.5,139.250000,0.25,1.875000,1.25,0.75,2.75,0.5
69,0.666667,2.666667,146.666667,242.333333,0.333333,0.333333,142.666667,0.0,1.300000,1.333333,2.0,2.333333,0.666667
70,1.0,0.75,147.750000,252.500000,0.0,0.5,122.250000,0.5,1.975000,1.0,1.0,2.5,0.25
71,0.0,1.0,127.333333,238.666667,0.333333,0.666667,139.000000,0.0,0.666667,1.666667,1.0,2.0,1.0
74,0.0,1.0,120.000000,269.000000,0.0,0.0,121.000000,1.0,0.200000,2.0,1.0,2.0,1.0
76,0.0,2.0,140.000000,197.000000,0.0,2.0,116.000000,0.0,1.100000,1.0,0.0,2.0,1.0
77,1.0,0.0,125.000000,304.000000,0.0,0.0,162.000000,1.0,0.000000,2.0,3.0,2.0,0.0

In [13]:
# There are 303 entries and 14 columns. 
# From the 14 paramters, 13 are intergers and 1 is in decimal. 
# Changed these variables: sex, cp, fbs, restecg, exang, slope, ca, thal, and target to object
# There are no null values
# grouped it by sex and age to see variation in data